The Shopping Cart lets users add, remove, and check items out.
They can add an item that wasn't already added.
The checkout process returns a receipt that holds the subtotal, tax, and total.

               Test Cases
----------------------------------------
- adding an item if not already added
    - test if cart contains the item after it's added.
    - test if the cart skips duplicate item
- removing an item
    - test if item gets removed after being sold
    - test for IllegalStateException for trying to remove from an empty cart
- checkout
    - test if subtotal is calculated correctly
    - test if tax is calculated correctly
    - test if total is calculated correctly
    - test if illegal state exception is thrown if cart is empty
